@import url('https://fonts.googleapis.com/css?family=Open+Sans');

body {
    font-family: 'Open Sans', sans-serif;
    font-size: 13px;
    background-color: #1d5a6f;
    color: #eeeeee;
}

a {
    color: aqua;
}

textarea {
    white-space: pre;
}

img {
    padding: 5px;
}
